---
title: "Pool Equipment Installation in Wesley Chapel and Pasco County, FL"
description: "Description for <meta> description and OG tags"
permalink: "/services/equipment-installation/"
image: "OPTIONAL - If an image path is specified here, it will be used for that page's OG image. Useful for blog posts (implemented as standard with this kit)"
---

{% extends "layouts/base.html" %} {% block head %}
<!-- Any page-specific tags that belong in the <head>, such as a page-specific stylesheet -->
<link rel="stylesheet" href="/assets/css/repairs.css" />
{% endblock %} {% block body %}
<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-310">
  <div class="cs-container">
    <span class="cs-int-title"
      >Equipment Installation in Wesley Chapel and Pasco County, FL</span
    >
    <div class="cs-breadcrumbs">
      <a href="/" class="cs-link">Home</a>
      <a href="/services/equipment-installation/" class="cs-link cs-active"
        >Equipment Installation</a
      >
    </div>
  </div>
  <!--Background Image-->

  <picture class="cs-background">
    <!--Mobile Image-->
    <source media="(max-width: 600px)" srcset="{% getUrl
    "/assets/images/hero2.webp" | resize({ width: 640, height: 600 }) | avif %}"
    type="image/avif"> <source media="(max-width: 600px)" srcset="{% getUrl
    "/assets/images/hero2.webp" | resize({ width: 640, height: 600 }) | webp %}"
    type="image/webp"> <source media="(max-width: 600px)" srcset="{% getUrl
    "/assets/images/hero2.webp" | resize({ width: 640, height: 600 }) | jpeg %}"
    type="image/jpeg">
    <!--Tablet Image-->
    <source media="(max-width: 1024px)" srcset="{% getUrl
    "/assets/images/hero2.webp" | resize({ width: 2048, height: 942 }) | avif
    %}" type="image/avif"> <source media="(max-width: 1024px)" srcset="{% getUrl
    "/assets/images/hero2.webp" | resize({ width: 2048, height: 942 }) | webp
    %}" type="image/webp"> <source media="(max-width: 1024px)" srcset="{% getUrl
    "/assets/images/hero2.webp" | resize({ width: 2048, height: 942 }) | jpeg
    %}" type="image/jpeg">
    <!--Desktop Image-->
    <source media="(min-width: 1024px)" srcset="{% getUrl
    "/assets/images/hero2.webp" | resize({ width: 2500, height: 628 }) | avif
    %}" type="image/avif"> <source media="(min-width: 1024px)" srcset="{% getUrl
    "/assets/images/hero2.webp" | resize({ width: 2500, height: 628 }) | webp
    %}" type="image/webp"> <source media="(min-width: 1024px)" srcset="{% getUrl
    "/assets/images/hero2.webp" | resize({ width: 2500, height: 628 }) | jpeg
    %}" type="image/jpeg"> <img src="{% getUrl "/assets/images/hero2.webp" |
    resize({ width: 2500, height: 628 }) | jpeg %}" alt="Swimming Pool"
    width="1920" height="482" loading="eager" decoding="async">
  </picture>
</div>

<div id="cs-content-831">
  <span class="cs-topper">Pool Defenders</span>
  <h2 class="cs-title">Professional Pool Equipment Installation & Upgrades</h2>
  <p class="cs-text">
    Upgrading your pool equipment is one of the best ways to improve
    performance, efficiency, and long-term reliability. Pool Defenders provides
    expert installation of modern pool equipment designed to keep your system
    running smoothly and efficiently.
  </p>
</div>

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="RPsbs-313">
  <div class="cs-container">
    <!-- Left Image Section -->
    <div class="cs-image-group">
      <picture class="cs-picture cs-picture1">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="{% getUrl
        "/assets/images/equipment.webp" | resize({ width: 482, height: 536 }) |
        avif %}" type="image/avif"> <source media="(max-width: 600px)"
        srcset="{% getUrl "/assets/images/equipment.webp" | resize({ width: 482,
        height: 536 }) | webp %}" type="image/webp"> <source media="(max-width:
        600px)" srcset="{% getUrl "/assets/images/equipment.webp" | resize({
        width: 482, height: 536 }) | jpeg %}" type="image/jpeg">
        <!--Tablet Image-->
        <source media="(max-width: 1024px)" srcset="{% getUrl
        "/assets/images/equipment.webp" | resize({ width: 802, height: 892 }) |
        avif %}" type="image/avif"> <source media="(max-width: 1024px)"
        srcset="{% getUrl "/assets/images/equipment.webp" | resize({ width: 802,
        height: 892 }) | webp %}" type="image/webp"> <source media="(max-width:
        1024px)" srcset="{% getUrl "/assets/images/equipment.webp" | resize({
        width: 802, height: 892 }) | jpeg %}" type="image/jpeg">
        <!--Desktop Image-->
        <source media="(min-width: 1024px)" srcset="{% getUrl
        "/assets/images/equipment.webp" | resize({ width: 1044, height: 1162 })
        | avif %}" type="image/avif"> <source media="(min-width: 1024px)"
        srcset="{% getUrl "/assets/images/equipment.webp" | resize({ width:
        1044, height: 1162 }) | webp %}" type="image/webp"> <source
        media="(min-width: 1024px)" srcset="{% getUrl
        "/assets/images/equipment.webp" | resize({ width: 1044, height: 1162 })
        | jpeg %}" type="image/jpeg"> <img src="{% getUrl
        "/assets/images/equipment.webp" | resize({ width: 1044, height: 1162 })
        | jpeg %}" alt="Pool Equipment" width="522" height="581" loading="lazy"
        decoding="async">
      </picture>
      <picture class="cs-picture cs-picture2">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="{% getUrl
        "/assets/images/joel.jpg" | resize({ width: 366, height: 354 }) | avif
        %}" type="image/avif"> <source media="(max-width: 600px)" srcset="{%
        getUrl "/assets/images/joel.jpg" | resize({ width: 366, height: 354 }) |
        webp %}" type="image/webp"> <source media="(max-width: 600px)"
        srcset="{% getUrl "/assets/images/joel.jpg" | resize({ width: 366,
        height: 354 }) | jpeg %}" type="image/jpeg">
        <!--Tablet Image-->
        <source media="(max-width: 1024px)" srcset="{% getUrl
        "/assets/images/joel.jpg" | resize({ width: 600, height: 578 }) | avif
        %}" type="image/avif"> <source media="(max-width: 1024px)" srcset="{%
        getUrl "/assets/images/joel.jpg" | resize({ width: 600, height: 578 }) |
        webp %}" type="image/webp"> <source media="(max-width: 1024px)"
        srcset="{% getUrl "/assets/images/joel.jpg" | resize({ width: 600,
        height: 578 }) | jpeg %}" type="image/jpeg">
        <!--Desktop Image-->
        <source media="(min-width: 1024px)" srcset="{% getUrl
        "/assets/images/joel.jpg" | resize({ width: 780, height: 752 }) | avif
        %}" type="image/avif"> <source media="(min-width: 1024px)" srcset="{%
        getUrl "/assets/images/joel.jpg" | resize({ width: 780, height: 752 }) |
        webp %}" type="image/webp"> <source media="(min-width: 1024px)"
        srcset="{% getUrl "/assets/images/joel.jpg" | resize({ width: 780,
        height: 752 }) | jpeg %}" type="image/jpeg"> <img src="{% getUrl
        "/assets/images/joel.jpg" | resize({ width: 780, height: 752 }) | jpeg
        %}" alt="Joel" width="390" height="376" loading="lazy" decoding="async">
      </picture>
    </div>
    <!-- Right Content Section-->
    <div class="cs-content">
      <span class="cs-topper">Pool Defenders</span>
      <h2 class="cs-title">Equipment We Install</h2>
      <p class="cs-text">
        We install and upgrade a wide range of residential pool equipment,
        including:
      </p>
      <ul id="list-822" class="cs-ul">
        <li class="cs-li">
          <img
            class="cs-icon"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Services/arrow-green.svg"
            alt="arrow"
            width="16"
            height="18"
          />
          Variable-Speed Pool Pumps
        </li>

        <li class="cs-li">
          <img
            class="cs-icon"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Services/arrow-green.svg"
            alt="arrow"
            width="16"
            height="18"
          />
          Pool Pumps
        </li>
        <li class="cs-li">
          <img
            class="cs-icon"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Services/arrow-green.svg"
            alt="arrow"
            width="16"
            height="18"
          />
          Pool Filters (cartridge, DE, and sand)
        </li>
        <li class="cs-li">
          <img
            class="cs-icon"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Services/arrow-green.svg"
            alt="arrow"
            width="16"
            height="18"
          />
          Pool Heaters & Heat Pumps
        </li>
        <li class="cs-li">
          <img
            class="cs-icon"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Services/arrow-green.svg"
            alt="arrow"
            width="16"
            height="18"
          />
          Pool LED Lights
        </li>
        <li class="cs-li">
          <img
            class="cs-icon"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Services/arrow-green.svg"
            alt="arrow"
            width="16"
            height="18"
          />
          Swimming Pool Automation
        </li>
        <li class="cs-li">
          <img
            class="cs-icon"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Services/arrow-green.svg"
            alt="arrow"
            width="16"
            height="18"
          />
          Phone Control
        </li>
        <li class="cs-li">
          <img
            class="cs-icon"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Services/arrow-green.svg"
            alt="arrow"
            width="16"
            height="18"
          />
          Auto Cleaners
        </li>
        <li class="cs-li">
          <img
            class="cs-icon"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Services/arrow-green.svg"
            alt="arrow"
            width="16"
            height="18"
          />
          Chlorine Feeders
        </li>
      </ul>
      <p class="cs-text">
        Whether you’re replacing outdated equipment or upgrading to a more
        energy-efficient system, we’ll help you choose the right solution for
        your pool.
      </p>
      <a href="/contact/" class="cs-button-solid">Get Started</a>
    </div>
  </div>
</section>

<!-- ============================================ -->
<!--                    Logos                     -->
<!-- ============================================ -->

<section id="logos-2444">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">Pool Defenders</span>
      <h2 class="cs-title">Trusted Major Equipment Brands</h2>
      <p class="cs-text">
        We work extensively with the industry’s leading manufacturers,
        including:
      </p>
    </div>
    <ul class="cs-ul">
      <li class="cs-li">
        <img
          class="cs-img"
          src="/assets/images/jandy.png"
          alt="logo"
          width="194"
          height="120"
          loading="lazy"
          decoding="async"
          aria-hidden="true"
        />
      </li>
      <li class="cs-li">
        <img
          class="cs-img"
          src="/assets/images/hayward.png"
          alt="logo"
          width="194"
          height="120"
          loading="lazy"
          decoding="async"
          aria-hidden="true"
        />
      </li>
      <li class="cs-li">
        <img
          class="cs-img"
          src="/assets/images/pentair.png"
          alt="logo"
          width="194"
          height="120"
          loading="lazy"
          decoding="async"
          aria-hidden="true"
        />
      </li>
    </ul>
  </div>
</section>

<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="RPsbsr-313">
  <div class="cs-container">
    <!-- Left Image Section -->
    <div class="cs-image-group">
      <picture class="cs-picture cs-picture1">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="{% getUrl
        "/assets/images/spa.webp" | resize({ width: 482, height: 536 }) | avif
        %}" type="image/avif"> <source media="(max-width: 600px)" srcset="{%
        getUrl "/assets/images/spa.webp" | resize({ width: 482, height: 536 }) |
        webp %}" type="image/webp"> <source media="(max-width: 600px)"
        srcset="{% getUrl "/assets/images/spa.webp" | resize({ width: 482,
        height: 536 }) | jpeg %}" type="image/jpeg">
        <!--Tablet Image-->
        <source media="(max-width: 1024px)" srcset="{% getUrl
        "/assets/images/spa.webp" | resize({ width: 802, height: 892 }) | avif
        %}" type="image/avif"> <source media="(max-width: 1024px)" srcset="{%
        getUrl "/assets/images/spa.webp" | resize({ width: 802, height: 892 }) |
        webp %}" type="image/webp"> <source media="(max-width: 1024px)"
        srcset="{% getUrl "/assets/images/spa.webp" | resize({ width: 802,
        height: 892 }) | jpeg %}" type="image/jpeg">
        <!--Desktop Image-->
        <source media="(min-width: 1024px)" srcset="{% getUrl
        "/assets/images/spa.webp" | resize({ width: 1044, height: 1162 }) | avif
        %}" type="image/avif"> <source media="(min-width: 1024px)" srcset="{%
        getUrl "/assets/images/spa.webp" | resize({ width: 1044, height: 1162 })
        | webp %}" type="image/webp"> <source media="(min-width: 1024px)"
        srcset="{% getUrl "/assets/images/spa.webp" | resize({ width: 1044,
        height: 1162 }) | jpeg %}" type="image/jpeg"> <img src="{% getUrl
        "/assets/images/spa.webp" | resize({ width: 1044, height: 1162 }) | jpeg
        %}" alt="Hot Tub" width="522" height="581" loading="lazy"
        decoding="async">
      </picture>
      <picture class="cs-picture cs-picture2">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="{% getUrl
        "/assets/images/equipment2.webp" | resize({ width: 366, height: 354 }) |
        avif %}" type="image/avif"> <source media="(max-width: 600px)"
        srcset="{% getUrl "/assets/images/equipment2.webp" | resize({ width:
        366, height: 354 }) | webp %}" type="image/webp"> <source
        media="(max-width: 600px)" srcset="{% getUrl
        "/assets/images/equipment2.webp" | resize({ width: 366, height: 354 }) |
        jpeg %}" type="image/jpeg">
        <!--Tablet Image-->
        <source media="(max-width: 1024px)" srcset="{% getUrl
        "/assets/images/equipment2.webp" | resize({ width: 600, height: 578 }) |
        avif %}" type="image/avif"> <source media="(max-width: 1024px)"
        srcset="{% getUrl "/assets/images/equipment2.webp" | resize({ width:
        600, height: 578 }) | webp %}" type="image/webp"> <source
        media="(max-width: 1024px)" srcset="{% getUrl
        "/assets/images/equipment2.webp" | resize({ width: 600, height: 578 }) |
        jpeg %}" type="image/jpeg">
        <!--Desktop Image-->
        <source media="(min-width: 1024px)" srcset="{% getUrl
        "/assets/images/equipment2.webp" | resize({ width: 780, height: 752 }) |
        avif %}" type="image/avif"> <source media="(min-width: 1024px)"
        srcset="{% getUrl "/assets/images/equipment2.webp" | resize({ width:
        780, height: 752 }) | webp %}" type="image/webp"> <source
        media="(min-width: 1024px)" srcset="{% getUrl
        "/assets/images/equipment2.webp" | resize({ width: 780, height: 752 }) |
        jpeg %}" type="image/jpeg"> <img src="{% getUrl
        "/assets/images/equipment2.webp" | resize({ width: 780, height: 752 }) |
        jpeg %}" alt="Pool Equipment" width="390" height="376" loading="lazy"
        decoding="async">
      </picture>
    </div>
    <!-- Right Content Section-->
    <div class="cs-content">
      <span class="cs-topper">Pool Defenders</span>
      <h2 class="cs-title">Smart Upgrades That Save You Money</h2>

      <p class="cs-text">
        Modern pool equipment offers improved energy efficiency, quieter
        operation, and better water quality. Variable-speed pumps and automation
        systems can significantly reduce energy costs while giving you greater
        control over your pool.
      </p>

      <p class="cs-text">
        We’ll walk you through your options and explain what upgrades make the
        most sense—without pushing unnecessary add-ons.
      </p>
    </div>
  </div>
</section>

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="RPsbs-313">
  <div class="cs-container">
    <!-- Left Image Section -->
    <div class="cs-image-group">
      <picture class="cs-picture cs-picture1">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="{% getUrl
        "/assets/images/iQpump.png" | resize({ width: 482, height: 536 }) | avif
        %}" type="image/avif"> <source media="(max-width: 600px)" srcset="{%
        getUrl "/assets/images/iQpump.png" | resize({ width: 482, height: 536 })
        | webp %}" type="image/webp"> <source media="(max-width: 600px)"
        srcset="{% getUrl "/assets/images/iQpump.png" | resize({ width: 482,
        height: 536 }) | jpeg %}" type="image/jpeg">
        <!--Tablet Image-->
        <source media="(max-width: 1024px)" srcset="{% getUrl
        "/assets/images/iQpump.png" | resize({ width: 802, height: 892 }) | avif
        %}" type="image/avif"> <source media="(max-width: 1024px)" srcset="{%
        getUrl "/assets/images/iQpump.png" | resize({ width: 802, height: 892 })
        | webp %}" type="image/webp"> <source media="(max-width: 1024px)"
        srcset="{% getUrl "/assets/images/iQpump.png" | resize({ width: 802,
        height: 892 }) | jpeg %}" type="image/jpeg">
        <!--Desktop Image-->
        <source media="(min-width: 1024px)" srcset="{% getUrl
        "/assets/images/iQpump.png" | resize({ width: 1044, height: 1162 }) |
        avif %}" type="image/avif"> <source media="(min-width: 1024px)"
        srcset="{% getUrl "/assets/images/iQpump.png" | resize({ width: 1044,
        height: 1162 }) | webp %}" type="image/webp"> <source media="(min-width:
        1024px)" srcset="{% getUrl "/assets/images/iQpump.png" | resize({ width:
        1044, height: 1162 }) | jpeg %}" type="image/jpeg"> <img src="{% getUrl
        "/assets/images/iQpump.png" | resize({ width: 1044, height: 1162 }) |
        jpeg %}" alt="iQ Smart Pump" width="522" height="581" loading="lazy"
        decoding="async">
      </picture>
    </div>
    <!-- Right Content Section-->
    <div class="cs-content">
      <span class="cs-topper">Smart Technology</span>
      <h2 class="cs-title">Smart Pool Pump Control with Jandy iQpump</h2>
      <p class="cs-text">
        Upgrade your pool with modern, app-based control. The Jandy iQpump
        allows you to manage your variable-speed pool pump directly from your
        smartphone—no full automation system required.
      </p>

      <p class="cs-text">
        With iQpump installed, you can start and stop your pump, adjust RPM
        speeds, set daily schedules, and monitor energy usage from anywhere.
        It’s a simple, cost-effective way to add smart control to your pool and
        improve efficiency.
      </p>
      <a href="/contact/" class="cs-button-solid">Get Started</a>
    </div>
  </div>
</section>

<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="RPsbsr-313">
  <div class="cs-container">
    <!-- Left Image Section -->
    <div class="cs-image-group">
      <picture class="cs-picture cs-picture1">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="{% getUrl
        "/assets/images/poolcleaner2.png" | resize({ width: 482, height: 536 })
        | avif %}" type="image/avif"> <source media="(max-width: 600px)"
        srcset="{% getUrl "/assets/images/poolcleaner2.png" | resize({ width:
        482, height: 536 }) | webp %}" type="image/webp"> <source
        media="(max-width: 600px)" srcset="{% getUrl
        "/assets/images/poolcleaner2.png" | resize({ width: 482, height: 536 })
        | jpeg %}" type="image/jpeg">
        <!--Tablet Image-->
        <source media="(max-width: 1024px)" srcset="{% getUrl
        "/assets/images/poolcleaner2.png" | resize({ width: 802, height: 892 })
        | avif %}" type="image/avif"> <source media="(max-width: 1024px)"
        srcset="{% getUrl "/assets/images/poolcleaner2.png" | resize({ width:
        802, height: 892 }) | webp %}" type="image/webp"> <source
        media="(max-width: 1024px)" srcset="{% getUrl
        "/assets/images/poolcleaner2.png" | resize({ width: 802, height: 892 })
        | jpeg %}" type="image/jpeg">
        <!--Desktop Image-->
        <source media="(min-width: 1024px)" srcset="{% getUrl
        "/assets/images/poolcleaner2.png" | resize({ width: 1044, height: 1162
        }) | avif %}" type="image/avif"> <source media="(min-width: 1024px)"
        srcset="{% getUrl "/assets/images/poolcleaner2.png" | resize({ width:
        1044, height: 1162 }) | webp %}" type="image/webp"> <source
        media="(min-width: 1024px)" srcset="{% getUrl
        "/assets/images/poolcleaner2.png" | resize({ width: 1044, height: 1162
        }) | jpeg %}" type="image/jpeg"> <img src="{% getUrl
        "/assets/images/poolcleaner2.png" | resize({ width: 1044, height: 1162
        }) | jpeg %}" alt="Pool Cleaner" width="522" height="581" loading="lazy"
        decoding="async">
      </picture>
    </div>
    <!-- Right Content Section-->
    <div class="cs-content">
      <span class="cs-topper">Pool Defenders</span>
      <h2 class="cs-title">
        Heavy-Duty Pool Cleaning with the Polaris Quattro
      </h2>

      <p class="cs-text">
        For pools that deal with heavy debris, the Polaris Quattro pressure-side
        cleaner delivers powerful, reliable cleaning you can count on. Designed
        for performance, the Quattro uses a dedicated booster pump to
        aggressively remove leaves, dirt, sand, and larger debris—without
        clogging your pool’s filtration system.
      </p>

      <p class="cs-text">
        Its large wheels and advanced traction allow it to climb walls, navigate
        tight corners, and clean efficiently across a wide range of pool
        surfaces. A high-capacity debris canister captures more material in a
        single cycle, reducing maintenance and improving overall cleaning
        results.
      </p>

      <a href="/contact/" class="cs-button-solid">Get Started</a>
    </div>
  </div>
</section>

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="RPsbs-313">
  <div class="cs-container">
    <!-- Left Image Section -->
    <div class="cs-image-group">
      <picture class="cs-picture cs-picture1">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="{% getUrl
        "/assets/images/ledlight.jpg" | resize({ width: 482, height: 536 }) |
        avif %}" type="image/avif"> <source media="(max-width: 600px)"
        srcset="{% getUrl "/assets/images/ledlight.jpg" | resize({ width: 482,
        height: 536 }) | webp %}" type="image/webp"> <source media="(max-width:
        600px)" srcset="{% getUrl "/assets/images/ledlight.jpg" | resize({
        width: 482, height: 536 }) | jpeg %}" type="image/jpeg">
        <!--Tablet Image-->
        <source media="(max-width: 1024px)" srcset="{% getUrl
        "/assets/images/ledlight.jpg" | resize({ width: 802, height: 892 }) |
        avif %}" type="image/avif"> <source media="(max-width: 1024px)"
        srcset="{% getUrl "/assets/images/ledlight.jpg" | resize({ width: 802,
        height: 892 }) | webp %}" type="image/webp"> <source media="(max-width:
        1024px)" srcset="{% getUrl "/assets/images/ledlight.jpg" | resize({
        width: 802, height: 892 }) | jpeg %}" type="image/jpeg">
        <!--Desktop Image-->
        <source media="(min-width: 1024px)" srcset="{% getUrl
        "/assets/images/ledlight.jpg" | resize({ width: 1044, height: 1162 }) |
        avif %}" type="image/avif"> <source media="(min-width: 1024px)"
        srcset="{% getUrl "/assets/images/ledlight.jpg" | resize({ width: 1044,
        height: 1162 }) | webp %}" type="image/webp"> <source media="(min-width:
        1024px)" srcset="{% getUrl "/assets/images/ledlight.jpg" | resize({
        width: 1044, height: 1162 }) | jpeg %}" type="image/jpeg"> <img src="{%
        getUrl "/assets/images/ledlight.jpg" | resize({ width: 1044, height:
        1162 }) | jpeg %}" alt="Pool Light" width="522" height="581"
        loading="lazy" decoding="async">
      </picture>
    </div>
    <!-- Right Content Section-->
    <div class="cs-content">
      <span class="cs-topper">Pool Lighting</span>
      <h2 class="cs-title">
        Cooler, Longer-Lasting Pool Lighting with Jandy HydroCool LED Technology
      </h2>
      <p class="cs-text">
        Modern pool lighting should be as durable as it is beautiful. Jandy
        HydroCool LED technology is engineered to actively manage heat, keeping
        internal components cooler for improved reliability and a longer
        lifespan—especially in hot, sun-exposed environments.
      </p>

      <p class="cs-text">
        By efficiently dispersing heat away from sensitive electronics,
        HydroCool helps reduce wear, prevent premature failure, and maintain
        consistent lighting performance over time. The result is brighter
        illumination, longer service life, and fewer lighting issues compared to
        traditional pool lights.
      </p>
      <a href="/contact/" class="cs-button-solid">Get Started</a>
    </div>
  </div>
</section>

{% include 'sections/cta.html' %} {% endblock %}
