---
title: "Pool Service & Repairs in Wesley Chapel & Pasco County | Pool Defenders"
description: "Meta description for the page"
permalink: "/"
tags: "sitemap" # content/content.json will make sure that all pages in content/ are marked with a "sitemap" tag, for automatic sitemap generation. As index.html is not in content/, we need to add it here to ensure the root page is included in the sitemap generation
---

{% extends "layouts/base.html" %} {% block head %}
<!-- Critical styles are loaded first -->
<link rel="stylesheet" href="/assets/css/critical.css" />

<!-- If we're in production, defer the rest of the home page styles. In development, always load it. Otherwise the site will break when hot-reload is used. -->
{% if client.isProduction %}
<link
  rel="preload"
  href="/assets/css/local.css"
  as="style"
  onload="this.onload=null;this.rel='stylesheet'"
/>
<noscript>
  <link rel="stylesheet" href="/assets/css/local.css" />
</noscript>

{% else %}
<link rel="stylesheet" href="/assets/css/local.css" />
{% endif %}

<!-- To ensure proper validation, prevent errors, and encourage developers to check, schema's are an opt-in feature. They're very bespoke and requires some customising  -->
<!-- Uncomment the code below to enable Structured Data, and test it when you deploy to Netlify - https://developers.google.com/search/docs/appearance/structured-data -->
<!-- {% include "components/home-schema.html" %} -->
{% endblock %} {% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-143">
  <div class="cs-container">
    <span class="cs-topper">Pool Defenders Service & Repairs</span>
    <h1 class="cs-title">Stress-Free Pool Cleaning & Maintenance</h1>
    <p class="cs-text">
      Keep your pool clean, clear, and ready to enjoy year-round. Serving Wesley
      Chapel and Pasco County with reliable, professional pool service.
    </p>
    <a href="/contact/" class="cs-button-solid">Get Started</a>
  </div>

  <!-- Background Image -->
  <picture class="cs-background">
    <!--Mobile Image-->
    <source media="(max-width: 600px)" srcset="{% getUrl
    "/assets/images/hero.jpg" | resize({ width: 640, height: 1490 }) | avif %}"
    type="image/avif"> <source media="(max-width: 600px)" srcset="{% getUrl
    "/assets/images/hero.jpg" | resize({ width: 640, height: 1490 }) | webp %}"
    type="image/webp"> <source media="(max-width: 600px)" srcset="{% getUrl
    "/assets/images/hero.jpg" | resize({ width: 640, height: 1490 }) | jpeg %}"
    type="image/jpeg">
    <!--Tablet Image-->
    <source media="(max-width: 1024px)" srcset="{% getUrl
    "/assets/images/hero.jpg" | resize({ width: 2048, height: 1922 }) | avif %}"
    type="image/avif"> <source media="(max-width: 1024px)" srcset="{% getUrl
    "/assets/images/hero.jpg" | resize({ width: 2048, height: 1922 }) | webp %}"
    type="image/webp"> <source media="(max-width: 1024px)" srcset="{% getUrl
    "/assets/images/hero.jpg" | resize({ width: 2048, height: 1922 }) | jpeg %}"
    type="image/jpeg">
    <!--Large Tablet Image-->
    <source media="(min-width: 1024px) and (max-width: 1300px)" srcset="{%
    getUrl "/assets/images/hero.jpg" | resize({ width: 2048, height: 1922 }) |
    avif %}" type="image/avif"> <source media="(min-width: 1024px) and
    (max-width: 1300px)" srcset="{% getUrl "/assets/images/hero.jpg" | resize({
    width: 2048, height: 1922 }) | webp %}" type="image/webp"> <source
    media="(min-width: 1024px) and (max-width: 1300px)" srcset="{% getUrl
    "/assets/images/hero.jpg" | resize({ width: 2048, height: 1922 }) | jpeg %}"
    type="image/jpeg">
    <!--Desktop Image-->
    <source media="(min-width: 1300px)" srcset="{% getUrl
    "/assets/images/hero.jpg" | resize({ width: 1, height: 1 }) | avif %}"
    type="image/avif"> <source media="(min-width: 1300px)" srcset="{% getUrl
    "/assets/images/hero.jpg" | resize({ width: 1, height: 1 }) | webp %}"
    type="image/webp"> <source media="(min-width: 1300px)" srcset="{% getUrl
    "/assets/images/hero.jpg" | resize({ width: 1, height: 1 }) | jpeg %}"
    type="image/jpeg"> <img src="{% getUrl "/assets/images/hero.jpg" | resize({
    width: 1, height: 1 }) | jpeg %}" alt="kitchen" width="1" height="1"
    loading="eager" decoding="async">
  </picture>
</section>

<!-- ============================================ -->
<!--                   Services                   -->
<!-- ============================================ -->

<section id="h-services-143">
  <ul class="cs-card-group">
    <li class="cs-item">
      <picture class="cs-icon">
        <img
          loading="lazy"
          decoding="async"
          src="/assets/images/repair-white.svg"
          alt="icon"
          width="52"
          height="52"
          aria-hidden="true"
        />
      </picture>
      <h2 class="cs-title">Pool Repairs</h2>
      <p class="cs-text">
        Expert repairs for pumps, filters, heaters, lights, salt systems, and
        automation.
      </p>
    </li>
    <li class="cs-item">
      <picture class="cs-icon">
        <img
          loading="lazy"
          decoding="async"
          src="/assets/svgs/s4.svg"
          alt="icon"
          width="52"
          height="52"
          aria-hidden="true"
        />
      </picture>
      <h2 class="cs-title">Troubleshooting</h2>
      <p class="cs-text">
        Quick diagnosis of equipment issues and water problems, no guesswork.
      </p>
    </li>
    <li class="cs-item">
      <picture class="cs-icon">
        <img
          loading="lazy"
          decoding="async"
          src="/assets/images/swimming.svg"
          alt="icon"
          width="52"
          height="52"
          aria-hidden="true"
        />
      </picture>
      <h2 class="cs-title">Installation</h2>
      <p class="cs-text">
        Professional installation of pumps, filters, heaters, automation, and
        salt systems
      </p>
    </li>

    <li class="cs-item">
      <picture class="cs-icon">
        <img
          loading="lazy"
          decoding="async"
          src="/assets/images/pool-white.svg"
          alt="icon"
          width="52"
          height="52"
          aria-hidden="true"
        />
      </picture>
      <h2 class="cs-title">Weekly Maintenance</h2>
      <p class="cs-text">
        Reliable weekly cleaning, chemical balance, and routine pool care.
      </p>
    </li>
  </ul>
</section>

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="RPsbs-313">
  <div class="cs-container">
    <!-- Left Image Section -->
    <div class="cs-image-group">
      <picture class="cs-picture cs-picture1">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="{% getUrl
        "/assets/images/hero.jpg" | resize({ width: 482, height: 536 }) | avif
        %}" type="image/avif"> <source media="(max-width: 600px)" srcset="{%
        getUrl "/assets/images/hero.jpg" | resize({ width: 482, height: 536 }) |
        webp %}" type="image/webp"> <source media="(max-width: 600px)"
        srcset="{% getUrl "/assets/images/hero.jpg" | resize({ width: 482,
        height: 536 }) | jpeg %}" type="image/jpeg">
        <!--Tablet Image-->
        <source media="(max-width: 1024px)" srcset="{% getUrl
        "/assets/images/hero.jpg" | resize({ width: 802, height: 892 }) | avif
        %}" type="image/avif"> <source media="(max-width: 1024px)" srcset="{%
        getUrl "/assets/images/hero.jpg" | resize({ width: 802, height: 892 }) |
        webp %}" type="image/webp"> <source media="(max-width: 1024px)"
        srcset="{% getUrl "/assets/images/hero.jpg" | resize({ width: 802,
        height: 892 }) | jpeg %}" type="image/jpeg">
        <!--Desktop Image-->
        <source media="(min-width: 1024px)" srcset="{% getUrl
        "/assets/images/hero.jpg" | resize({ width: 1044, height: 1162 }) | avif
        %}" type="image/avif"> <source media="(min-width: 1024px)" srcset="{%
        getUrl "/assets/images/hero.jpg" | resize({ width: 1044, height: 1162 })
        | webp %}" type="image/webp"> <source media="(min-width: 1024px)"
        srcset="{% getUrl "/assets/images/hero.jpg" | resize({ width: 1044,
        height: 1162 }) | jpeg %}" type="image/jpeg"> <img src="{% getUrl
        "/assets/images/hero.jpg" | resize({ width: 1044, height: 1162 }) | jpeg
        %}" alt="lawyers" width="522" height="581" loading="lazy"
        decoding="async">
      </picture>
      <picture class="cs-picture cs-picture2">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="{% getUrl
        "/assets/images/joel.jpg" | resize({ width: 366, height: 354 }) | avif
        %}" type="image/avif"> <source media="(max-width: 600px)" srcset="{%
        getUrl "/assets/images/joel.jpg" | resize({ width: 366, height: 354 }) |
        webp %}" type="image/webp"> <source media="(max-width: 600px)"
        srcset="{% getUrl "/assets/images/joel.jpg" | resize({ width: 366,
        height: 354 }) | jpeg %}" type="image/jpeg">
        <!--Tablet Image-->
        <source media="(max-width: 1024px)" srcset="{% getUrl
        "/assets/images/joel.jpg" | resize({ width: 600, height: 578 }) | avif
        %}" type="image/avif"> <source media="(max-width: 1024px)" srcset="{%
        getUrl "/assets/images/joel.jpg" | resize({ width: 600, height: 578 }) |
        webp %}" type="image/webp"> <source media="(max-width: 1024px)"
        srcset="{% getUrl "/assets/images/joel.jpg" | resize({ width: 600,
        height: 578 }) | jpeg %}" type="image/jpeg">
        <!--Desktop Image-->
        <source media="(min-width: 1024px)" srcset="{% getUrl
        "/assets/images/joel.jpg" | resize({ width: 780, height: 752 }) | avif
        %}" type="image/avif"> <source media="(min-width: 1024px)" srcset="{%
        getUrl "/assets/images/joel.jpg" | resize({ width: 780, height: 752 }) |
        webp %}" type="image/webp"> <source media="(min-width: 1024px)"
        srcset="{% getUrl "/assets/images/joel.jpg" | resize({ width: 780,
        height: 752 }) | jpeg %}" type="image/jpeg"> <img src="{% getUrl
        "/assets/images/joel.jpg" | resize({ width: 780, height: 752 }) | jpeg
        %}" alt="gavel" width="390" height="376" loading="lazy"
        decoding="async">
      </picture>
    </div>
    <!-- Right Content Section-->
    <div class="cs-content">
      <span class="cs-topper">About Us</span>
      <h2 class="cs-title">About Pool Defenders</h2>
      <p class="cs-text">
        With over 20 years of hands-on experience, Pool Defenders is built on
        honest service, deep industry knowledge, and doing things the right way.
        We specialize in professional pool maintenance, repairs, and equipment
        installation—delivering dependable care homeowners can trust.
      </p>
      <div class="cs-quote">
        <span class="cs-quote-text">
          Exceptional Work. Same Tech. On-time. Every visit...Guaranteed.
        </span>
        <span class="cs-name">Joel Cline</span>
        <span class="cs-job">Owner</span>
        <img
          class="cs-quote-icon"
          loading="lazy"
          decoding="async"
          src="/assets/svgs/quote.svg"
          alt="gavel"
          width="136"
          height="77"
        />
      </div>
      <a href="/about/" class="cs-button-solid">About Us</a>
    </div>
  </div>
</section>

<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="RPsbsr-313">
  <div class="cs-container">
    <!-- Left Image Section -->
    <div class="cs-image-group">
      <picture class="cs-picture cs-picture1">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="{% getUrl
        "/assets/images/pool.jpg" | resize({ width: 482, height: 536 }) | avif
        %}" type="image/avif"> <source media="(max-width: 600px)" srcset="{%
        getUrl "/assets/images/pool.jpg" | resize({ width: 482, height: 536 }) |
        webp %}" type="image/webp"> <source media="(max-width: 600px)"
        srcset="{% getUrl "/assets/images/pool.jpg" | resize({ width: 482,
        height: 536 }) | jpeg %}" type="image/jpeg">
        <!--Tablet Image-->
        <source media="(max-width: 1024px)" srcset="{% getUrl
        "/assets/images/pool.jpg" | resize({ width: 802, height: 892 }) | avif
        %}" type="image/avif"> <source media="(max-width: 1024px)" srcset="{%
        getUrl "/assets/images/pool.jpg" | resize({ width: 802, height: 892 }) |
        webp %}" type="image/webp"> <source media="(max-width: 1024px)"
        srcset="{% getUrl "/assets/images/pool.jpg" | resize({ width: 802,
        height: 892 }) | jpeg %}" type="image/jpeg">
        <!--Desktop Image-->
        <source media="(min-width: 1024px)" srcset="{% getUrl
        "/assets/images/pool.jpg" | resize({ width: 1044, height: 1162 }) | avif
        %}" type="image/avif"> <source media="(min-width: 1024px)" srcset="{%
        getUrl "/assets/images/pool.jpg" | resize({ width: 1044, height: 1162 })
        | webp %}" type="image/webp"> <source media="(min-width: 1024px)"
        srcset="{% getUrl "/assets/images/pool.jpg" | resize({ width: 1044,
        height: 1162 }) | jpeg %}" type="image/jpeg"> <img src="{% getUrl
        "/assets/images/pool.jpg" | resize({ width: 1044, height: 1162 }) | jpeg
        %}" alt="lawyers" width="522" height="581" loading="lazy"
        decoding="async">
      </picture>
      <picture class="cs-picture cs-picture2">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="{% getUrl
        "/assets/images/hero.jpg" | resize({ width: 366, height: 354 }) | avif
        %}" type="image/avif"> <source media="(max-width: 600px)" srcset="{%
        getUrl "/assets/images/hero.jpg" | resize({ width: 366, height: 354 }) |
        webp %}" type="image/webp"> <source media="(max-width: 600px)"
        srcset="{% getUrl "/assets/images/hero.jpg" | resize({ width: 366,
        height: 354 }) | jpeg %}" type="image/jpeg">
        <!--Tablet Image-->
        <source media="(max-width: 1024px)" srcset="{% getUrl
        "/assets/images/hero.jpg" | resize({ width: 600, height: 578 }) | avif
        %}" type="image/avif"> <source media="(max-width: 1024px)" srcset="{%
        getUrl "/assets/images/hero.jpg" | resize({ width: 600, height: 578 }) |
        webp %}" type="image/webp"> <source media="(max-width: 1024px)"
        srcset="{% getUrl "/assets/images/hero.jpg" | resize({ width: 600,
        height: 578 }) | jpeg %}" type="image/jpeg">
        <!--Desktop Image-->
        <source media="(min-width: 1024px)" srcset="{% getUrl
        "/assets/images/hero.jpg" | resize({ width: 780, height: 752 }) | avif
        %}" type="image/avif"> <source media="(min-width: 1024px)" srcset="{%
        getUrl "/assets/images/hero.jpg" | resize({ width: 780, height: 752 }) |
        webp %}" type="image/webp"> <source media="(min-width: 1024px)"
        srcset="{% getUrl "/assets/images/hero.jpg" | resize({ width: 780,
        height: 752 }) | jpeg %}" type="image/jpeg"> <img src="{% getUrl
        "/assets/images/hero.jpg" | resize({ width: 780, height: 752 }) | jpeg
        %}" alt="gavel" width="390" height="376" loading="lazy"
        decoding="async">
      </picture>
    </div>
    <!-- Right Content Section-->
    <div class="cs-content">
      <span class="cs-topper">Pool Defenders</span>
      <h2 class="cs-title">Areas We Serve</h2>

      <p class="cs-text">
        We proudly provide pool service, repairs, and equipment installation
        throughout Wesley Chapel and surrounding Pasco County communities,
        including:
      </p>
      <ul id="list-822" class="cs-ul">
        <li class="cs-li">
          <img
            class="cs-icon"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Services/arrow-green.svg"
            alt="arrow"
            width="16"
            height="18"
          />
          Wesley Chapel, FL
        </li>
        <li class="cs-li">
          <img
            class="cs-icon"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Services/arrow-green.svg"
            alt="arrow"
            width="16"
            height="18"
          />
          Dade City, FL
        </li>
        <li class="cs-li">
          <img
            class="cs-icon"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Services/arrow-green.svg"
            alt="arrow"
            width="16"
            height="18"
          />
          San Antonio, FL
        </li>
        <li class="cs-li">
          <img
            class="cs-icon"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Services/arrow-green.svg"
            alt="arrow"
            width="16"
            height="18"
          />
          Lutz, FL
        </li>
        <li class="cs-li">
          <img
            class="cs-icon"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Services/arrow-green.svg"
            alt="arrow"
            width="16"
            height="18"
          />
          Land O Lakes, FL
        </li>
        <li class="cs-li">
          <img
            class="cs-icon"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Services/arrow-green.svg"
            alt="arrow"
            width="16"
            height="18"
          />
          Zephyrhills, FL
        </li>
      </ul>
    </div>
  </div>
</section>

<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews-67">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">Our Reviews</span>
      <h2 class="cs-title">Words From Our Customers</h2>
      <p class="cs-text">
        Don't just take our word for it! See what our customers have to say.
      </p>
    </div>
    <ul class="cs-card-group">
      <!-- Review 1 -->
      <li class="cs-item">
        <img
          class="cs-item-img"
          aria-hidden="true"
          loading="lazy"
          decoding="async"
          src="/assets/images/dawn.jpg"
          alt="profile picture"
          width="80"
          height="80"
        />
        <p class="cs-item-text">
          Our pool equipment was over 10 years old and in need of a "tune up."
          After replacing the pool liner we wanted a company to service it and
          were referred to Pool Defenders. They have gotten everything back to
          prime condition. Everything has been done promptly, thoroughly and
          knowledgeably. I would recommend Pool Defenders for any of your pool
          needs.
        </p>
        <div class="cs-info">
          <div class="cs-flex-group">
            <span class="cs-name">Dawn Likins Ray</span>
            <span class="cs-desc">Homeowner</span>
          </div>
          <img
            class="cs-item-stars"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="/assets/svgs/stars.svg"
            alt="stars"
            width="96"
            height="16"
          />
        </div>
      </li>
      <!-- Review 2 -->
      <li class="cs-item">
        <img
          class="cs-item-img"
          aria-hidden="true"
          loading="lazy"
          decoding="async"
          src="/assets/images/scooter.jpg"
          alt="profile picture"
          width="80"
          height="80"
        />
        <p class="cs-item-text">
          Joel's professionalism and willingness to assit me inmy project was
          much appreciated! I highly recommend Pool Defenders for your
          Inspection needs! 6 Stars!!
        </p>
        <div class="cs-info">
          <div class="cs-flex-group">
            <span class="cs-name">Scooter Gross</span>
            <span class="cs-desc">Homeowner</span>
          </div>
          <img
            class="cs-item-stars"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="/assets/svgs/stars.svg"
            alt="stars"
            width="96"
            height="16"
          />
        </div>
      </li>
    </ul>
    <!-- <a href="/reviews/" class="cs-button-solid">Read All Reviews</a> -->
  </div>
</section>

{% include 'sections/cta.html' %} {% endblock %}
