// ─────────────────────────────────────────────────────────────────────────────
// PAGE STYLES
// Interior pages have their own stylesheet for styles that only exist on
// that page. Any styles shared between pages, including repeated sections,
// should go into root.scss
// ─────────────────────────────────────────────────────────────────────────────

/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #RPsbs-313 {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: calc(542 / 16 * 1rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-text {
            margin-bottom: calc(16 / 16 * 1rem);
            &:last-of-type {
                margin-bottom: calc(32 / 16 * 1rem);
            }
        }

        .cs-quote {
            margin: 0 0 calc(32 / 16 * 1rem) 0;
            /* 16px - 32px */
            padding: clamp(1rem, 3vw, 2rem);
            background-color: #f7f7f7;
            border-radius: calc(16 / 16 * 1rem);
            position: relative;
        }

        .cs-quote-text {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            margin: 0 0 calc(16 / 16 * 1rem);
            color: #767676;
            display: block;
        }

        .cs-name {
            font-size: calc(16 / 16 * 1rem);
            line-height: 1.2em;
            text-transform: uppercase;
            font-weight: bold;
            margin: 0 0 calc(4 / 16 * 1rem);
            color: var(--headerColor);
            display: block;
        }

        .cs-job {
            font-size: calc(14 / 16 * 1rem);
            line-height: 1.5em;
            color: #767676;
            display: block;
        }

        .cs-quote-icon {
            /* 60px - 136px */
            width: clamp(3.75rem, 10vw, 8.5rem);
            height: auto;
            position: absolute;
            bottom: calc(0 / 16 * 1rem);
            /* 16px - 32px */
            right: clamp(1rem, 4vw, 2rem);
        }

        .cs-image-group {
            /* scaling the font size with the view width */
            font-size: min(2.31vw, 0.7em);
            /* using ems so we can use font size to scale the whole section */
            width: calc(631 / 16 * 1em);
            height: calc(636 / 16 * 1em);
            position: relative;
        }

        .cs-picture {
            border-radius: calc(24 / 16 * 1em);
            /* clips img tag corners */
            overflow: hidden;
            position: absolute;
            display: block;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* makes image act like a background image */
                object-fit: cover;
            }
        }

        .cs-picture1 {
            width: calc(522 / 16 * 1em);
            height: calc(581 / 16 * 1em);
            left: 0;
            top: 0;
        }

        .cs-picture2 {
            width: calc(414 / 16 * 1em);
            height: calc(400 / 16 * 1em);
            background-color: #fff;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 40px;
            /* 6px - 12px */
            border: clamp(0.375em, 1.5vw, 0.75em) solid #fff;
            right: 0;
            bottom: 0;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #RPsbs-313 {
        .cs-container {
            flex-flow: row;
            justify-content: space-between;
            gap: calc(52 / 16 * 1rem);
        }

        .cs-image-group {
            font-size: min(1.2vw, 1em);
            flex: none;
        }

        .cs-content {
            margin: 0;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #RPsbs-313 {
            .cs-image-group {
                &:before,
                &:after {
                    background: var(--accent);
                }
            }

            .cs-picture2 {
                background-color: var(--dark);
                /* 6px - 12px */
                border: clamp(0.375em, 1.5vw, 0.75em) solid var(--dark);
            }

            .cs-topper {
                color: var(--primaryLight);
            }

            .cs-title,
            .cs-text,
            .cs-h3,
            .cs-quote-text,
            .cs-name {
                color: var(--bodyTextColorWhite);
            }

            .cs-quote {
                background-color: var(--accent);
            }

            .cs-job {
                color: var(--bodyTextColorWhite);
                opacity: 0.8;
            }

            .cs-quote-icon {
                opacity: 0.2;
            }
        }
    }
}

/*-- -------------------------- -->
<---       Why Choose Us        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #why-choose-12 {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: calc(60 / 16 * 1rem);
        }

        .cs-item {
            text-align: center;
            list-style: none;
            width: 100%;
            max-width: calc(360 / 16 * 1rem);
            margin: 0;
            padding: 0;
        }

        .cs-picture {
            /* 68px - 88px */
            width: clamp(4.25rem, 7vw, 5.5rem);
            height: clamp(4.25rem, 7vw, 5.5rem);
            margin: auto;
            margin-bottom: calc(32 / 16 * 1rem);
            border-radius: 50%;
            background-color: var(--primary);
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: auto;
                height: calc(42 / 16 * 1rem);
                display: block;
            }
        }

        .cs-h3 {
            font-size: calc(20 / 16 * 1rem);
            line-height: 1.2em;
            text-align: inherit;
            font-weight: 700;
            text-transform: uppercase;
            margin: 0;
            margin-bottom: calc(8 / 16 * 1rem);
            color: var(--headerColor);
        }

        .cs-item-text {
            font-size: calc(16 / 16 * 1rem);
            text-align: inherit;
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColor);
        }

        .cs-button-solid {
            font-size: calc(16 / 16 * 1rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #fff;
            min-width: calc(150 / 16 * 1rem);
            padding: 0 calc(24 / 16 * 1rem);
            background-color: var(--primary);
            border-radius: calc(4 / 16 * 1rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: calc(4 / 16 * 1rem);
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #why-choose-12 {
        .cs-card-group {
            flex-direction: row;
            justify-content: space-between;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #why-choose-12 {
            .cs-title,
            .cs-h3,
            .cs-item-text,
            .cs-text {
                color: var(--bodyTextColorWhite);
            }

            .cs-picture {
                background: var(--primary);
            }
        }
    }
}

                                /*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-366 {
        padding: var(--sectionPadding);

        @keyframes floatAnimation2 {
            0% {
                transform: translateY(0);
            }
            50% {
                transform: translateY(-4px);
            }
            70% {
                transform: translateY(4px);
            }
            100% {
                transform: translateY(0);
            }
        }

        @keyframes InAndOut {
            0% {
                transform: translateY(calc(60 / 16 * 1rem)) scale(1);
                opacity: 1;
            }
            30% {
                transform: translateY(calc(30 / 16 * 1rem)) scale(0.8);
                opacity: 1;
            }
            60% {
                transform: translateY(calc(10 / 16 * 1rem)) scale(0.5);
                opacity: 0.2;
            }
            100% {
                transform: translateY(calc(0 / 16 * 1rem)) scale(0.2);
                opacity: 0;
            }
        }

        @keyframes InAndOut2 {
            0% {
                transform: translateY(calc(70 / 16 * 1rem)) scale(1);
                opacity: 1;
            }
            30% {
                transform: translateY(calc(40 / 16 * 1rem)) scale(0.8);
                opacity: 1;
            }
            60% {
                transform: translateY(calc(20 / 16 * 1rem)) scale(0.6);
                opacity: 1;
            }
            100% {
                transform: translateY(calc(0 / 16 * 1rem)) scale(0.4);
                opacity: 0;
            }
        }

        .cs-container {
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            flex-direction: column;
            /* 16px - 20px */
            column-gap: clamp(1rem, 2vw, 1.25rem);
        }

        .cs-item {
            list-style: none;
            width: 100%;
            max-width: calc(500 / 16 * 1rem);
            /* 20px - 40px top & bottom */
            /* 16px - 32px left & right */
            padding: clamp(1.25rem, 3.5vw, 2.5rem) clamp(1rem, 2.5vw, 2rem);
            border-radius: calc(16 / 16 * 1rem);
            border: 1px solid #e8e8e8;
            box-sizing: border-box;
            transition: background-color 0.3s;

            &:hover {
                background-color: var(--primary);

                .cs-icon-wrapper,
                .cs-bubble {
                    &:before,
                    &:after {
                        background-color: #449ffc;
                    }
                }

                .cs-icon {
                    /* makes it white on hover */
                    filter: grayscale(1) brightness(1000%);
                }

                .cs-h3 {
                    color: #fff;
                }

                .cs-item-text {
                    color: #fff;
                }
            }
        }

        .cs-link {
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .cs-icon-wrapper {
            width: calc(98 / 16 * 1rem);
            height: calc(120 / 16 * 1rem);
            margin-bottom: calc(24 / 16 * 1rem);
            display: flex;
            justify-content: center;
            align-items: flex-end;
            position: relative;

            &:before {
                /* Small Bubble */
                content: "";
                width: calc(27 / 16 * 1rem);
                height: calc(27 / 16 * 1rem);
                border-radius: 50%;
                background: #e5f2ff;
                opacity: 1;
                position: absolute;
                display: block;
                top: 0;
                left: calc(3 / 16 * 1rem);
                animation-name: InAndOut;
                animation-duration: 1.6s;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
                transition: background-color 0.3s;
            }

            &:after {
                /* Small Bubble */
                content: "";
                width: calc(27 / 16 * 1rem);
                height: calc(27 / 16 * 1rem);
                border-radius: 50%;
                background: #e5f2ff;
                opacity: 1;
                position: absolute;
                display: block;
                top: calc(11 / 16 * 1rem);
                right: calc(5 / 16 * 1rem);
                animation-name: InAndOut2;
                animation-duration: 2s;
                animation-delay: 0.3s;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
                transition: background-color 0.3s;
            }
        }

        .cs-bubble {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;

            &:before {
                /* Big Bubble */
                content: "";
                width: calc(63 / 16 * 1rem);
                height: calc(63 / 16 * 1rem);
                border-radius: 50%;
                background: #e5f2ff;
                opacity: 1;
                position: absolute;
                display: block;
                bottom: calc(4 / 16 * 1rem);
                left: calc(0 / 16 * 1rem);
                animation-name: floatAnimation2;
                animation-duration: 12s;
                animation-timing-function: ease-in-out;
                animation-fill-mode: forwards;
                animation-iteration-count: infinite;
                transition: background-color 0.3s;
            }

            &:after {
                /* Big Bubble */
                content: "";
                width: calc(50 / 16 * 1rem);
                height: calc(50 / 16 * 1rem);
                border-radius: 50%;
                background: #e5f2ff;
                opacity: 1;
                position: absolute;
                display: block;
                bottom: calc(-4 / 16 * 1rem);
                right: calc(0 / 16 * 1rem);
                animation-name: floatAnimation2;
                animation-duration: 10s;
                animation-timing-function: ease-in-out;
                animation-fill-mode: forwards;
                animation-iteration-count: infinite;
                transition: background-color 0.3s;
            }
        }

        .cs-icon {
            width: calc(72 / 16 * 1rem);
            height: auto;
            position: relative;
            z-index: 10;
        }

        .cs-h3 {
            font-size: calc(20 / 16 * 1rem);
            font-weight: 900;
            text-align: center;
            line-height: 1.2em;
            margin: 0;
            margin-bottom: calc(12 / 16 * 1rem);
            color: var(--headerColor);
            transition: color 0.3s;
        }

        .cs-item-text {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            text-align: center;
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColor);
            transition: color 0.3s;
        }

        .cs-button-solid {
            font-size: calc(16 / 16 * 1rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #fff;
            min-width: calc(150 / 16 * 1rem);
            padding: 0 calc(24 / 16 * 1rem);
            background-color: var(--primary);
            border-radius: calc(4 / 16 * 1rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: calc(4 / 16 * 1rem);
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services-366 {
        .cs-card-group {
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: nowrap;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #services-366 {
            .cs-topper {
                color: var(--primaryLight);
            }
            .cs-title,
            .cs-text,
            .cs-h3,
            .cs-item-text {
                color: var(--bodyTextColorWhite);
            }

            .cs-icon-wrapper,
            .cs-bubble {
                &:before,
                &:after {
                    background-color: var(--accent);
                }
            }

            .cs-icon {
                /* turns the icon white */
                filter: grayscale(1) brightness(1000%);
            }
        }
    }
}
                                